<%/*
    author: Chic
    content: 分页
    time: 2015/12/10
*/%>

<div class="ayty_page">
    <ul>
        <li>
            <a href="" class="current">1</a>
        </li>
        <li>
            <a href="">2</a>
        </li>
        <li>
            <a href="">3</a>
        </li>
        <li>
            <a href="">4</a>
        </li>
        <li>
            <a href="">5</a>
        </li>
        <li>
            <a href="">6</a>
        </li>
    </ul>
</div>